* {
  margin: 0;
  padding: 0;
}

html, body {
  height: 100%;
}

/* grids part */

.wrapper {
  display: grid;
  grid-template-columns: repeat(10, 1fr);
  grid-template-rows: repeat(19, 1fr);
  height: 100%;
}

.header {
  background-color: rgba(0, 0, 0, 0.7);
  grid-column: 2 / 10;
  grid-row: 1;
  color: white;
}

.header h1 {
  padding: 1rem 0px 1rem 0.4rem;
}

.sidenav-left {
  background-color: rgba(0, 0, 0, 0.7);
  grid-column: 1;
  grid-row: 1 / 19;
  padding: 1rem 0.5rem;
}

.sidenav-right {
  background-color: rgba(0, 0, 0, 0.7);
  grid-column: 10;
  grid-row: 1 / 19;
}

.body {
  grid-column: 2 / 10;
  grid-row: 2 / 19;
  padding: 1rem;
  overflow-x: hidden;
  overflow-y: scroll;
}

.footer {
  background-color: rgba(0, 0, 0, 0.7);
  grid-column: 1 / 11;
  grid-row: 19 / 21;
  padding: 2rem 0rem 0rem;
  text-align: center;
  color: white;
  text-decoration: none!important;
}

.footer a {
  color: white;
}


/* end of grids */

ul {
  padding-left: 1rem;
}

.sidenav-left ul {
  padding-left: 0px;
}

.sidenav-left ul li {
  text-decoration: none;
  list-style-type: none;
  padding: 0.4rem 0px;
}

/* Manipulate the highlighting*/
.highlight {
  font-size: 18px;
  padding: 1rem 1rem;
}

.sub-menu {
  margin-left: 1rem;
}

.nav-dark li a {
  text-decoration: none;
  color: rgb(255, 255, 255);
}

.nav-dark li :hover {
  color: rgba(0, 0, 0, 0.7);
}

/*
Image related formattings
*/

img {
  max-width: 100%;
  height: auto;
}

img[src$='#center']
{
  display: block;
  margin: 0.7rem auto;
}

img[src$='#left']
{
  float:left;
  margin: 0.7rem;
}

img[src$='#right']
{
  float:right;
  margin: 0.7rem;
}

/*
Video related formattings
*/

video {
  width: 100%;
  height: auto;
}

video[src$='#center'] {
  display: block;
  margin: 0.7rem auto;
}

video[src$='#left'] {
  float:left;
  margin: 0.7rem;
}

video[src$='#right'] {
  float:right;
  margin: 0.7rem;
}


/* table related settings */
table {
  margin: 2rem 15rem;
  width: calc(100% - 30rem); 
}

th {
  background-color: rgba(0, 0, 0, 0.2);
}

th, td {
  padding: 1.2rem 2rem;
  text-align: left;
}

tr:nth-child(even) {
  background-color: rgba(0, 0, 0, 0.06);
}

/*
paragraph settings
*/

p {
  margin-top: 0.75rem;
}

/*
headings settings
*/

h2 {
  margin-top: 1rem;
}

h3 {
 margin-top: 1rem; 
}

h4 {
  margin-top: 1rem;
}

h5 {
  margin-top: 1rem;
}

/**/

div .shark {
	background-image: url(http://www.sharksystem.net/bilder_shark/shark_Logo_grau.png); 
  height: 49px;
  width: 206px;
}

div .shark:hover {
	background-image: url(http://www.sharksystem.net/bilder_shark/shark_Logo_graugruen.png);
}
