<html>
    <head>
        <meta charset="UTF-8">
        <title>{{ .Page.Title }}</title>
        <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
        <link rel="stylesheet" href="/css/main.css">
        <link rel="stylesheet" href="/css/syntax.css">
    </head>
</html>

<body>
    <div class="wrapper">
        <div class="header"><h1>{{ .Page.Title }}</h1></div>
        <div class="sidenav-left">
            {{ partial "navigation.html" . }}
        </div>
        <div class="body">
            {{ block "main" . }}

            {{ end }}
        </div>
        <div class="sidenav-right"></div>
        <div class="footer">© 2020 <a href="https://github.com/https://github.com/SharedKnowledge/ausweisapp2-doc">SharkAuth</a>
    </div>
</body>